<%if @articles.empty?%>
	<h1 id="no-articles">
		No articles created.
	</h1>

<%else%>
<ul>
	<%@articles.each do |article|%>
	<li>
		<span><%=link_to article.title, article_path(article)%></span>
		<br>
		<span><%=article.body%></span>
	</li>
	<%end%>
</ul>
<%end%>

<%= link_to "New Article", new_article_path %>