<%if @articles.empty?%>
	<h1 id="no-articles">
		No articles created.
	</h1>

<%else%>

	<%@articles.each do |article|%>
		<div class="col-1-of-2">
			<span><%=link_to article.title, article_path(article)%></span>
			<br>
			<span><%=article.body%></span>
		</div>
	<%end%>
	
<%end%>
<%= link_to "New Article", new_article_path %>