<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		  
	  <header class="header">
			<h1 class="header__textbox">
				<span class="header__textbox-main">Welcome</span>
				<span class="header__textbox-sub">Optimize for you</span>
		  </h1>

		  <a href="#" class="header__btn btn">Start a conversation</a>
	  </header>
		  
	  <div class="grid-test">
			<div class="row">
				
				<div class="col-1-of-2">col-1-of-2</div>
				<div class="col-1-of-2">col-1-of-2</div>
			
			</div>
			
			<div class="row">
				
				<div class="col-1-of-3">col-1-of-3</div>
				<div class="col-1-of-3">col-1-of-3</div>
				<div class="col-1-of-3">col-1-of-3</div>

			</div>
			
			<div class="row">
				
				<div class="col-1-of-3">col-1-of-3</div>
				<div class="col-2-of-3">col-2-of-3</div>

			</div>
			
			<div class="row">
				
				<div class="col-1-of-4">col-1-of-4</div>
				<div class="col-1-of-4">col-1-of-4</div>
				<div class="col-1-of-4">col-1-of-4</div>
				<div class="col-1-of-4">col-1-of-4</div>

			</div>
			
			<div class="row">
				
				<div class="col-1-of-4">col-1-of-4</div>
				<div class="col-1-of-4">col-1-of-4</div>
				<div class="col-2-of-4">col-2-of-4</div>

			</div>
			
			<div class="row">
				
				<div class="col-1-of-4">col-1-of-4</div>
				<div class="col-3-of-4">col-3-of-4</div>

			</div>
		</div>
	  
	  <footer class="footer">
		  <div class="row">
				
				<div class="col-1-of-2">col-1-of-2</div>
				<div class="col-1-of-2">col-1-of-2</div>
				
			</div>
	  		<div class="footer-info">Darker</div>
	  </footer>
	  
  </body>
	
	
</html>
